@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.comments-container:before {
    background: #a4aeba70;
    content: "";
    display: block;
    height: 100%;
    left: -24px;
    position: absolute;
    top: 0;
    width: 3px;
}

.comment:before {
    background: #a1acba;
    content: "";
    display: block;
    height: 3px;
    left: -23px;
    position: relative;
    top: 57px;
    width: 14px;
}

.is-admin::before {
    width: 30px;
    height: 30px;
    border-radius: 38px;
    border: 7px solid white;
    box-shadow: 4px 4px 15px 0 rgb(36 37 38 / 8%);
    left: -40px;
    background: #8b60ed;
    opacity: 1;
}

[x-cloak] {
    display: none !important;
}

.status-idea-open, .status-open:before {
    @apply bg-gray-200
}

.status-idea-considering, .status-considering:before {
    @apply bg-purple text-white
}

.status-idea-in-progress, .status-in-progress:before {
    @apply bg-yellow text-white
}

.status-idea-implemented, .status-implemented:before {
    @apply bg-green text-white
}

.status-idea-closed, .status-closed:before {
    @apply bg-red text-white
}
